In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine, MetaData, engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Text
import sqlite3

In [2]:
clean_hawaii_measurements = pd.read_csv('clean_hawaii_measurements.csv')
clean_hawaii_stations = pd.read_csv('clean_hawaii_stations.csv')

In [3]:
clean_hawaii_stations.head()

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [4]:
clean_hawaii_stations.drop(['Unnamed: 0'],axis=1,inplace=True)

In [5]:
clean_hawaii_measurements.head()

   Unnamed: 0  index      station        date  prcp  tobs
0           0      0  USC00519397  2010-01-01  0.08    65
1           1      1  USC00519397  2010-01-02  0.00    63
2           2      2  USC00519397  2010-01-03  0.00    74
3           3      3  USC00519397  2010-01-04  0.00    76
4           4      5  USC00519397  2010-01-07  0.06    70

In [6]:
clean_hawaii_measurements.drop(['Unnamed: 0'],axis=1,inplace=True)

In [7]:
engine = create_engine('sqlite:///hawaii.sqlite')

In [8]:
conn = engine.connect()

In [9]:
Base = declarative_base()

class stations(Base):
    __tablename__ = 'stations'
    
    station = Column(Text, primary_key=True)
    name = Column(Text)
    lattitude = Column(Float)
    longitute = Column(Float)
    elevation = Column(Float)
    
    def __repr(self):
        return f"id={self.id}, name={self.name}"
    
class measurements(Base):
    __tablename__ = 'measurements'
    
    index = Column(Float, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)
    
    def __repr(self):
        return f"id={self.id}, name={self.name}"

In [10]:
Base.metadata.create_all(engine)

In [11]:
measurements_dict = clean_hawaii_measurements.to_dict(orient='records')
stations_dict = clean_hawaii_stations.to_dict(orient='records')

In [12]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [13]:
stations_table = sqlalchemy.Table('stations', metadata, autoload=True)
measurements_table = sqlalchemy.Table('measurements', metadata, autoload=True)

In [14]:
measurements_table

Table('measurements', MetaData(bind=Engine(sqlite:///hawaii.sqlite)), Column('index', FLOAT(), table=<measurements>, primary_key=True, nullable=False), Column('station', TEXT(), table=<measurements>), Column('date', TEXT(), table=<measurements>), Column('prcp', FLOAT(), table=<measurements>), Column('tobs', INTEGER(), table=<measurements>), schema=None)

In [15]:
conn.execute(stations_table.delete())
conn.execute(measurements_table.delete())

In [16]:
conn.execute(stations_table.insert(), stations_dict)

In [17]:
conn.execute(measurements_table.insert(), measurements_dict)

In [19]:
conn.execute('select * from measurements limit 10').fetchall()

[(0.0, 'USC00519397', '2010-01-01', 0.08, 65),
 (1.0, 'USC00519397', '2010-01-02', 0.0, 63),
 (2.0, 'USC00519397', '2010-01-03', 0.0, 74),
 (3.0, 'USC00519397', '2010-01-04', 0.0, 76),
 (5.0, 'USC00519397', '2010-01-07', 0.06, 70),
 (6.0, 'USC00519397', '2010-01-08', 0.0, 64),
 (7.0, 'USC00519397', '2010-01-09', 0.0, 68),
 (8.0, 'USC00519397', '2010-01-10', 0.0, 73),
 (9.0, 'USC00519397', '2010-01-11', 0.01, 64),
 (10.0, 'USC00519397', '2010-01-12', 0.0, 61)]