In [1]:
import pandas as pd
import numpy as np

In [2]:
hawaii_measurements = pd.read_csv('hawaii_measurements.csv')
hawaii_stations = pd.read_csv('hawaii_stations.csv')

In [3]:
hawaii_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
hawaii_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [5]:
hawaii_measurements = hawaii_measurements.dropna(axis=0, how='any').reset_index()

In [6]:
hawaii_measurements.tail()

       index      station        date  prcp  tobs
18098  19543  USC00516128  2017-08-17  0.13    72
18099  19545  USC00516128  2017-08-19  0.09    71
18100  19547  USC00516128  2017-08-21  0.56    76
18101  19548  USC00516128  2017-08-22  0.50    76
18102  19549  USC00516128  2017-08-23  0.45    76

In [7]:
hawaii_stations.to_csv('clean_hawaii_stations.csv')
hawaii_measurements.to_csv('clean_hawaii_measurements.csv')